{% extends "layout.html" %}

{% block title %}
  Home
{% endblock %} 

{% block main %}
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>

      <div class="col-10 text-center">
        {% if carouselPosts|length < 1 %}
          <p class="text-mute mt-3">No posts yet.</p>
        {% else %} 
          <div id="mainCarousel" class="carousel slide mt-3 mb-3" data-bs-ride="false">
            <div class="carousel-indicators">
              {% for i in range(carouselPosts|length) %}
                <button type="button" data-bs-target="#mainCarousel" data-bs-slide-to="{{ '%s' % i|string }}" aria-label="{{ 'Slide %s' % (i+1)|string }}"></button>
              {% endfor %}
            </div>

            <div class="carousel-inner">
              {% for post in carouselPosts %} 
                <div class="carousel-item">
                  <img src="{{ '/%s' % post[2] }}" class="d-block w-100"/>
                  <div class="carousel-caption d-none d-md-block">
                    <a href="{{ '/posts/%s' % post[0] }}">{{ post[1] }}</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
          
          <hr/>

          <div class="row mb-3 text-start">
            <h3>Check out these posts</h3>
          </div>
          <div class="list-group" >
            {% for post in posts %}
              <a href="{{ '/posts/%s' % post[0] }}" class="list-group-item list-group-item-action">
                <div class="row">
                  <div class="col-5">
                    <img src="{{ '/%s' % post[2] }}" class="img-fluid mx-start" width="550px" loading="lazy"/>
                  </div>
                  <div class="col-7 my-auto">
                    <h5>{{ post[1] }}</h5>
                    <small>Posted on: {{ post[4].strftime('%m/%d/%Y %H:%M:%S') }}</small>
                    <br/>
                    <small>Likes: {{ post[3] }}</small>
                  </div>
                </div>
              </a>
            {% endfor %}
          </div>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}