{% extends "layout.html" %}

{% block title %} 
  New post
{% endblock %} 

{% block main %} 
  <div class="container-fluid mt-3">
    <div class="row justify-content-center">

      <div class="col-lg-8 text-center">
        <form enctype="multipart/form-data" class="form-control text-start p-4" action="/new" method="post">
          <h3>Create your post</h3>
          <hr/>

          <div class="form-group mb-3">
            {{ form.csrf_token() }}
            {{ form.description.label(class_="form-label") }}<br/>
            {{ form.description(class_="form-control") }}
          </div>

          <div class="form-group mb-3">
            {{ form.image.label(class_="form-label") }}<br/>
            {{ form.image(class_="form-control") }}
          </div>

          <button class="btn btn-primary mb-2" type="submit">Post</button>

          {% if form.errors.items() %} 
            <ul>
              {% for field, errors in form.errors.items() %} 
                <li class="text-danger">
                  {{ '.'.join(errors) }}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </form>
      </div>

    </div>
  </div>
{% endblock %}